Repository vndevteam/nestjs-turbo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint --

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["pnpm run format", "pnpm run lint --"],
  "*.json": ["pnpm run format"]
}

fix: remove tsconfig.tsbuildinfo
  .gitignore
  .husky/pre-commit
  packages/api/tsconfig.tsbuildinfo
  packages/database-typeorm/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Due: none

fix: remove tsconfig.tsbuildinfo (#32)
  .gitignore
  .husky/pre-commit
  packages/api/tsconfig.tsbuildinfo
  packages/database-typeorm/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Due: none

ci: add ci
  .github/pull-request-template.md
  .github/workflows/check-semantic-prs.yml
  .github/workflows/ci.yml
Due: none

ci: add ci (#36)
  .github/pull-request-template.md
  .github/workflows/check-semantic-prs.yml
  .github/workflows/ci.yml
Due: none

ci: add cache turbo
  .github/workflows/ci.yml
Due: none

ci: add cache turbo (#37)
  .github/workflows/ci.yml
Due: none

feat: convert to commonjs
  apps/admin-api/src/api/auth/auth.controller.ts
  apps/admin-api/src/api/auth/auth.module.ts
  apps/admin-api/src/api/auth/auth.service.spec.ts
  apps/admin-api/src/api/auth/auth.service.ts
  apps/admin-api/src/api/user/dto/update-user.dto.ts
  apps/admin-api/src/api/user/dto/user.dto.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/api/user/user.module.ts
  apps/admin-api/src/api/user/user.service.spec.ts
  apps/admin-api/src/api/user/user.service.ts
  apps/admin-api/src/app.module.ts
  apps/user-api/src/app.module.ts
  apps/user-api/src/config/config.type.ts
  packages/api/package.json
  packages/api/src/config/app.config.ts
  packages/api/src/config/index.ts
  packages/api/src/decorators/index.ts
  packages/api/src/index.ts
  packages/api/tsconfig.json
  packages/database-typeorm/package.json
  packages/database-typeorm/src/config/database.config.ts
  packages/database-typeorm/src/config/index.ts
  packages/database-typeorm/src/entities/index.ts
  packages/database-typeorm/src/entities/user.entity.ts
  packages/database-typeorm/src/index.ts
  packages/database-typeorm/tsconfig.json
  packages/typescript-config/nestjs.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/utils/index.ts
  packages/utils/src/utils/password.util.ts
  packages/utils/src/utils/validate-config.util.ts
  packages/utils/tsconfig.json
Due: pnpm run format, pnpm run lint --

fix: config db seed by typeorm-extension
  apps/admin-api/package.json
  apps/user-api/package.json
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/database-typeorm/package.json
  packages/database-typeorm/src/data-source.ts
  packages/ui/package.json
  packages/utils/package.json
  turbo.json
Due: pnpm run format, pnpm run lint --

fix: config db seed by typeorm-extension (#42)
  apps/admin-api/package.json
  apps/user-api/package.json
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/database-typeorm/package.json
  packages/database-typeorm/src/data-source.ts
  packages/ui/package.json
  packages/utils/package.json
  turbo.json
Due: pnpm run format, pnpm run lint --

feat: change util package name to common, change some import paths
  apps/admin-api/package.json
  apps/admin-api/src/api/auth/auth.controller.ts
  apps/admin-api/src/api/auth/auth.module.ts
  apps/admin-api/src/api/auth/auth.service.spec.ts
  apps/admin-api/src/api/auth/auth.service.ts
  apps/admin-api/src/api/auth/config/auth.config.ts
  apps/admin-api/src/api/user/dto/create-user.dto.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/api/user/user.module.ts
  apps/admin-api/src/api/user/user.service.spec.ts
  apps/admin-api/src/api/user/user.service.ts
  apps/admin-api/src/app.module.ts
  apps/user-api/package.json
  apps/user-api/src/app.module.ts
  apps/user-api/src/config/config.type.ts
  packages/api/package.json
  packages/api/src/config/app.config.ts
  packages/api/src/config/index.ts
  packages/api/src/decorators/field.decorators.ts
  packages/api/src/decorators/index.ts
  packages/common/.prettierrc.mjs
  packages/common/eslint.config.mjs
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/transformers/index.ts
  packages/common/src/transformers/lower-case.transformer.ts
  packages/common/src/types/common.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/password.util.ts
  packages/common/src/utils/validate-config.util.ts
  packages/common/tsconfig.json
  packages/database-typeorm/package.json
  packages/database-typeorm/src/config/database.config.ts
  packages/database-typeorm/src/config/index.ts
  packages/database-typeorm/src/entities/index.ts
  packages/database-typeorm/src/entities/user.entity.ts
  packages/database-typeorm/src/index.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

fix: cmt
  apps/admin-api/src/api/auth/auth.service.ts
  apps/admin-api/src/api/auth/config/auth.config.ts
  apps/admin-api/src/api/user/dto/create-user.dto.ts
Due: pnpm run format, pnpm run lint --

feat: change util package name to common, change some import paths (#43)
  apps/admin-api/package.json
  apps/admin-api/src/api/auth/auth.controller.ts
  apps/admin-api/src/api/auth/auth.module.ts
  apps/admin-api/src/api/auth/auth.service.spec.ts
  apps/admin-api/src/api/auth/auth.service.ts
  apps/admin-api/src/api/auth/config/auth.config.ts
  apps/admin-api/src/api/user/dto/create-user.dto.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/api/user/user.module.ts
  apps/admin-api/src/api/user/user.service.spec.ts
  apps/admin-api/src/api/user/user.service.ts
  apps/admin-api/src/app.module.ts
  apps/user-api/package.json
  apps/user-api/src/app.module.ts
  apps/user-api/src/config/config.type.ts
  packages/api/package.json
  packages/api/src/config/app.config.ts
  packages/api/src/config/index.ts
  packages/api/src/decorators/field.decorators.ts
  packages/api/src/decorators/index.ts
  packages/common/.prettierrc.mjs
  packages/common/eslint.config.mjs
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/transformers/index.ts
  packages/common/src/transformers/lower-case.transformer.ts
  packages/common/src/types/common.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/password.util.ts
  packages/common/src/utils/validate-config.util.ts
  packages/common/tsconfig.json
  packages/database-typeorm/package.json
  packages/database-typeorm/src/config/database.config.ts
  packages/database-typeorm/src/config/index.ts
  packages/database-typeorm/src/entities/index.ts
  packages/database-typeorm/src/entities/user.entity.ts
  packages/database-typeorm/src/index.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

feat: update user
  apps/admin-api/src/api/user/dto/update-user.dto.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/api/user/user.service.ts
Due: pnpm run format, pnpm run lint --

feat: update user (#44)
  apps/admin-api/src/api/user/dto/update-user.dto.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/api/user/user.service.ts
Due: pnpm run format, pnpm run lint --

feat: add article, tag, profile module
  apps/admin-api/src/api/api.module.ts
  apps/admin-api/src/api/article/article.controller.spec.ts
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/article.module.ts
  apps/admin-api/src/api/article/article.service.spec.ts
  apps/admin-api/src/api/article/article.service.ts
  apps/admin-api/src/api/profile/profile.controller.spec.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.module.ts
  apps/admin-api/src/api/profile/profile.service.spec.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/tag/tag.controller.spec.ts
  apps/admin-api/src/api/tag/tag.controller.ts
  apps/admin-api/src/api/tag/tag.module.ts
  apps/admin-api/src/api/tag/tag.service.spec.ts
  apps/admin-api/src/api/tag/tag.service.ts
Due: pnpm run format, pnpm run lint --

feat: add article, tag, profile module (#45)
  apps/admin-api/src/api/api.module.ts
  apps/admin-api/src/api/article/article.controller.spec.ts
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/article.module.ts
  apps/admin-api/src/api/article/article.service.spec.ts
  apps/admin-api/src/api/article/article.service.ts
  apps/admin-api/src/api/profile/profile.controller.spec.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.module.ts
  apps/admin-api/src/api/profile/profile.service.spec.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/tag/tag.controller.spec.ts
  apps/admin-api/src/api/tag/tag.controller.ts
  apps/admin-api/src/api/tag/tag.module.ts
  apps/admin-api/src/api/tag/tag.service.spec.ts
  apps/admin-api/src/api/tag/tag.service.ts
Due: pnpm run format, pnpm run lint --

docs: update README
  .gitignore
  .npmrc
  LICENSE
  README.md
Due: none

docs: update README (#46)
  .gitignore
  .npmrc
  LICENSE
  README.md
Due: none

feat: add profile apis
  apps/admin-api/src/api/profile/dto/profile.dto.ts
  apps/admin-api/src/api/profile/profile.controller.spec.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.module.ts
  apps/admin-api/src/api/profile/profile.service.spec.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/user/user.service.ts
  packages/database-typeorm/src/entities/user.entity.ts
Due: pnpm run format, pnpm run lint --

feat: add profile apis (#47)
  apps/admin-api/src/api/profile/dto/profile.dto.ts
  apps/admin-api/src/api/profile/profile.controller.spec.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.module.ts
  apps/admin-api/src/api/profile/profile.service.spec.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/user/user.service.ts
  packages/database-typeorm/src/entities/user.entity.ts
Due: pnpm run format, pnpm run lint --

feat: add article, comment, favorite
  apps/admin-api/src/api/article/article.controller.spec.ts
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/article.module.ts
  apps/admin-api/src/api/article/article.service.ts
  apps/admin-api/src/api/article/comment/comment.controller.spec.ts
  apps/admin-api/src/api/article/comment/comment.controller.ts
  apps/admin-api/src/api/article/comment/comment.module.ts
  apps/admin-api/src/api/article/comment/comment.service.spec.ts
  apps/admin-api/src/api/article/comment/comment.service.ts
  apps/admin-api/src/api/article/dto/article-list.dto.ts
  apps/admin-api/src/api/article/dto/article.dto.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.spec.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.ts
  apps/admin-api/src/api/article/favorite/favorite.module.ts
  apps/admin-api/src/api/article/favorite/favorite.service.spec.ts
  apps/admin-api/src/api/article/favorite/favorite.service.ts
Due: pnpm run format, pnpm run lint --

feat: add article, comment, favorite (#48)
  apps/admin-api/src/api/article/article.controller.spec.ts
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/article.module.ts
  apps/admin-api/src/api/article/article.service.ts
  apps/admin-api/src/api/article/comment/comment.controller.spec.ts
  apps/admin-api/src/api/article/comment/comment.controller.ts
  apps/admin-api/src/api/article/comment/comment.module.ts
  apps/admin-api/src/api/article/comment/comment.service.spec.ts
  apps/admin-api/src/api/article/comment/comment.service.ts
  apps/admin-api/src/api/article/dto/article-list.dto.ts
  apps/admin-api/src/api/article/dto/article.dto.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.spec.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.ts
  apps/admin-api/src/api/article/favorite/favorite.module.ts
  apps/admin-api/src/api/article/favorite/favorite.service.spec.ts
  apps/admin-api/src/api/article/favorite/favorite.service.ts
Due: pnpm run format, pnpm run lint --

feat: add swagger config
  apps/admin-api/.env.example
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/comment/comment.controller.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.ts
  apps/admin-api/src/api/auth/auth.controller.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/tag/tag.controller.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/main.ts
  packages/api/src/config/app-config.type.ts
  packages/api/src/config/app.config.ts
Due: pnpm run format, pnpm run lint --

feat: add swagger config (#49)
  apps/admin-api/.env.example
  apps/admin-api/src/api/article/article.controller.ts
  apps/admin-api/src/api/article/comment/comment.controller.ts
  apps/admin-api/src/api/article/favorite/favorite.controller.ts
  apps/admin-api/src/api/auth/auth.controller.ts
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/tag/tag.controller.ts
  apps/admin-api/src/api/user/user.controller.ts
  apps/admin-api/src/main.ts
  packages/api/src/config/app-config.type.ts
  packages/api/src/config/app.config.ts
Due: pnpm run format, pnpm run lint --

feat: add fastify helmet config
  apps/admin-api/package.json
  apps/admin-api/src/main.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

feat: add fastify helmet config (#50)
  apps/admin-api/package.json
  apps/admin-api/src/main.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

feat: add fastify compression
  apps/admin-api/package.json
  apps/admin-api/src/main.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

feat: add fastify compression (#51)
  apps/admin-api/package.json
  apps/admin-api/src/main.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

feat: add i18n
  .gitignore
  apps/admin-api/.gitignore
  apps/admin-api/jest.config.json
  apps/admin-api/nest-cli.json
  apps/admin-api/package.json
  apps/admin-api/setup-jest.mjs
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/user/user.service.ts
  apps/admin-api/src/app.module.ts
  apps/admin-api/src/constants/constraint-errors.ts
  apps/admin-api/src/constants/error-code.constant.ts
  apps/admin-api/src/filters/global-exception.filter.ts
  apps/admin-api/src/generated/i18n.generated.ts
  apps/admin-api/src/i18n/en/app.json
  apps/admin-api/src/i18n/en/common.json
  apps/admin-api/src/i18n/vi/app.json
  apps/admin-api/src/i18n/vi/common.json
  apps/admin-api/src/main.ts
  apps/user-api/package.json
  package.json
  packages/api/package.json
  packages/api/src/dto/error-detail.dto.ts
  packages/api/src/dto/error.dto.ts
  packages/api/src/dto/index.ts
  packages/api/src/exceptions/index.ts
  packages/api/src/exceptions/validation.exception.ts
  packages/api/src/index.ts
  packages/api/src/interceptors/timeout.interceptor.ts
  packages/api/src/utils/exception-handler.util.ts
  packages/api/src/utils/index.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

fix: cmt
  apps/admin-api/src/constants/constraint-errors.ts
  apps/admin-api/src/filters/global-exception.filter.ts
Due: pnpm run format, pnpm run lint --

feat: add i18n (#52)
  .gitignore
  apps/admin-api/.gitignore
  apps/admin-api/jest.config.json
  apps/admin-api/nest-cli.json
  apps/admin-api/package.json
  apps/admin-api/setup-jest.mjs
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/api/user/user.service.ts
  apps/admin-api/src/app.module.ts
  apps/admin-api/src/constants/constraint-errors.ts
  apps/admin-api/src/constants/error-code.constant.ts
  apps/admin-api/src/filters/global-exception.filter.ts
  apps/admin-api/src/generated/i18n.generated.ts
  apps/admin-api/src/i18n/en/app.json
  apps/admin-api/src/i18n/en/common.json
  apps/admin-api/src/i18n/vi/app.json
  apps/admin-api/src/i18n/vi/common.json
  apps/admin-api/src/main.ts
  apps/user-api/package.json
  package.json
  packages/api/package.json
  packages/api/src/dto/error-detail.dto.ts
  packages/api/src/dto/error.dto.ts
  packages/api/src/dto/index.ts
  packages/api/src/exceptions/index.ts
  packages/api/src/exceptions/validation.exception.ts
  packages/api/src/index.ts
  packages/api/src/interceptors/timeout.interceptor.ts
  packages/api/src/utils/exception-handler.util.ts
  packages/api/src/utils/index.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

fix: add swc
  apps/admin-api/.swcrc
  apps/admin-api/jest.config.json
  apps/admin-api/nest-cli.json
  apps/admin-api/package.json
  pnpm-lock.yaml
Due: pnpm run format

fix: add swc (#53)
  apps/admin-api/.swcrc
  apps/admin-api/jest.config.json
  apps/admin-api/nest-cli.json
  apps/admin-api/package.json
  pnpm-lock.yaml
Due: pnpm run format

fix: rename repo
  README.md
  apps/docs/next.config.mjs
  apps/docs/theme.config.tsx
  package.json
Due: pnpm run format, pnpm run lint --

fix: rename repo (#54)
  README.md
  apps/docs/next.config.mjs
  apps/docs/theme.config.tsx
  package.json
Due: pnpm run format, pnpm run lint --

feat: add fastify pino log
  apps/admin-api/package.json
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/app.module.ts
  apps/admin-api/src/constants/app.constant.ts
  apps/admin-api/src/filters/global-exception.filter.ts
  apps/admin-api/src/main.ts
  apps/admin-api/src/middlewares/request-id.middleware.ts
  packages/api/package.json
  packages/api/src/common/fastify-pino-logger/fastify-pino-logger.module.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino-logger.service.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino-logger.util.ts
  packages/api/src/common/fastify-pino-logger/index.ts
  packages/api/src/common/index.ts
  packages/api/src/index.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint --

fix: use async_hooks for logging
  apps/admin-api/src/api/profile/profile.controller.ts
  apps/admin-api/src/api/profile/profile.service.ts
  apps/admin-api/src/app.module.ts
  apps/admin-api/src/filters/global-exception.filter.ts
  apps/admin-api/src/main.ts
  apps/admin-api/src/middlewares/request-id.middleware.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino-logger.module.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino-logger.service.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino.logger.ts
  packages/api/src/common/fastify-pino-logger/fastify-pino.util.ts
  packages/api/src/common/fastify-pino-logger/index.ts
  packages/api/src/providers/async-context.provider.ts
Due: pnpm run format, pnpm run lint --
